<nz-alert nzType="info" nzShowIcon
          nzMessage="由于后端服务由Java更换为Node，用户信息清空，烦请重新注册登录。" nzCloseText="关闭"></nz-alert>
<div #active class="container" [ngClass]="{'right-panel-active':signStats === 'signUp'}">
  <!--登录-->
  <div class="container__form container--signup">
    <form nz-form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" role="form" class="form">
      <h2 class="form__title">{{title}}</h2>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="loginNameInfo">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="loginName" placeholder="请输入用户名"/>
          </nz-input-group>
          <ng-template #loginNameInfo>
            <ng-container *ngIf="loginName.dirty && loginName.errors">
              <div>
                <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
                <span>请输入用户名</span>
              </div>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordInfo">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="请输入密码"/>
          </nz-input-group>
          <ng-template #passwordInfo>
            <ng-container *ngIf="password.dirty && password.errors">
              <div>
                <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
                <span>请输入密码</span>
              </div>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!--  <a class="test-user" (click)="testUser()">使用测试账户</a>-->
      <nz-form-item>
        <div class="optiona">
          <label nz-checkbox formControlName="remember">记住用户名</label>
          <div></div>
        </div>
      </nz-form-item>
      <nz-form-item>
        <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loginLoading" nzBlock>
          登录
        </button>
      </nz-form-item>
    </form>
  </div>
  <!--注册-->
  <div class="container__form container--signin">
    <form nz-form [formGroup]="registerForm" (ngSubmit)="registerSubmit()" role="form" class="form"
          *ngIf="!registerSuccess">
      <h2 class="form__title">{{title}}</h2>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name" [nzSm]="8" [nzXs]="24">
          用户名
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="registerNameInfo">
          <input type="text" nz-input formControlName="registerName" [placeholder]="'请填写用户名'"/>
          <ng-template #registerNameInfo let-control>
            <ng-container *ngIf="control.hasError('required')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              请填写用户名
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              用户名太短
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="name" [nzSm]="8" [nzXs]="24">
          昵称
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="userNameTpl">
          <input type="text" nz-input formControlName="userName" [placeholder]="'请填写昵称'"/>
          <ng-template #userNameTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              请填写昵称
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="name" [nzSm]="8" [nzXs]="24">
          密码
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="registerPasswordTpl">
          <input type="password" nz-input formControlName="registerPassword" [placeholder]="'请填写密码'"/>
          <ng-template #registerPasswordTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              请填写密码
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              两次密码不一致
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              密码太短
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="name" [nzSm]="8" [nzXs]="24">
          密码确认
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="registerPassword2Tpl">
          <input type="password" nz-input formControlName="registerPassword2" [placeholder]="'请再次输入密码'"/>
          <ng-template #registerPassword2Tpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              请再次输入密码
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              两次密码不一致
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              密码太短
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <div nz-row nzAlign="middle" nzJustify="space-around">
        <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="registerLoading" nzBlock>
          注册
        </button>
      </div>
    </form>
    <nz-result
      nzStatus="success"
      nzTitle="注册成功!"
      nzSubTitle="正在登录..." class="form" *ngIf="registerSuccess"
    >
    </nz-result>
  </div>

  <!-- 切换 -->
  <div class="container__overlay">
    <div class="overlay">
      <div class="overlay__panel overlay--left">
        <button class="btn" (click)="signChange('signIn')">注册</button>
        <button class="btn resume" (click)="signChange('resume')">简历</button>
      </div>
      <div class="overlay__panel overlay--right">
        <button class="btn" (click)="signChange('signUp')">登录</button>
        <button class="btn resume" (click)="signChange('resume')">简历</button>
      </div>
    </div>
  </div>
</div>

<!--留言图标-->
<div class="leave-message" title="留言" (click)="showLeaveMessageModal()">
  <svg class="aliicon" [ngClass]="{'show-leave-message':showLeaveMessage}" aria-hidden="true">
    <use xlink:href="#icon-liuyan"></use>
  </svg>
  <i nz-icon nzType="close" nzTheme="outline" class="close" [ngClass]="{'hidden-leave-message':!showLeaveMessage}"></i>
</div>

<!--留言盒子-->
<div #leaveMessageBox class="leave-message-box">
  <!--历史留言-->
  <div #messageContent class="message">
    <nz-spin [nzSpinning]="leaveMessageLoading">
      <div *ngFor="let msg of messageList;" class="message-box">
        <span class="user-title">
          <span class="name">{{msg.name}}</span>
          <span class="browser">（来自{{msg.browser}}）{{msg.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </span>
        <span class="message-conent">{{msg.message}}</span>
      </div>
    </nz-spin>
  </div>
  <!--输入框-->
  <div nz-row nzAlign="middle" class="message-send">
    <div nz-col nzXs="6" class="user-name">
      <span class="user">
        <i nz-icon nzType="user" nzTheme="outline"></i>
      </span>
      <!--用户昵称-->
      <nz-input-group [nzSuffix]="suffixIcon" class="input">
        <input type="text" maxlength="5" nz-input placeholder="昵称" [(ngModel)]="leaveMessage.name"/>
      </nz-input-group>
      <ng-template #suffixIcon>
        <i nz-icon nzType="edit" nzTheme="outline"></i>
      </ng-template>
    </div>
    <!--输入框-->
    <div nz-col nzXs="18">
      <textarea rows="4" nz-input type="text" maxlength="200" placeholder="请输入留言..." nzBorderless
                [(ngModel)]="leaveMessage.message"></textarea>
    </div>
    <!--发送按钮-->
    <div class="send" *ngIf="leaveMessage.message !== ''">
      <button nz-button nzType="primary" (click)="addLeaveMessage()">
        <i nz-icon nzType="send" nzTheme="outline"></i>
      </button>
    </div>
  </div>
</div>
<!--ICP备案信息-->
<div class="IPC">
  Copyright ©2022-2023 ICP备案
  <a href="https://beian.miit.gov.cn" target="_blank">鄂ICP备2022017495号-1 </a>
</div>
