<!--
<div #active class="container" [ngClass]="{'right-panel-active':signStats === 'signUp'}">
  &lt;!&ndash;登录&ndash;&gt;
  <div class="container__form container&#45;&#45;signup">
    <form nz-form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" role="form" class="form">
      <h2 class="form__title">{{title}}</h2>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="loginNameInfo">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="loginName" placeholder="请输入用户名"/>
          </nz-input-group>
          <ng-template #loginNameInfo>
            <ng-container *ngIf="loginName.hasError('required')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              <span>请输入用户名</span>
            </ng-container>
            <ng-container *ngIf="loginName.hasError('maxlength')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              <span>用户名太长</span>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordInfo">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="请输入密码"/>
          </nz-input-group>
          <ng-template #passwordInfo>
            <ng-container *ngIf="password.dirty && password.errors">
              <div>
                <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
                <span>请输入密码</span>
              </div>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      &lt;!&ndash;  <a class="test-user" (click)="testUser()">使用测试账户</a>&ndash;&gt;
      <nz-form-item>
        <div class="optiona">
          <label nz-checkbox formControlName="remember">记住用户名</label>
          <div></div>
        </div>
      </nz-form-item>
      <nz-form-item>
        <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loginLoading" nzBlock>
          登录
        </button>
      </nz-form-item>

      &lt;!&ndash;第三方登录&ndash;&gt;
      <div class="more-sign">
        <span class="oauth2">第三方登录</span>
        <ul>
          &lt;!&ndash;Github登录&ndash;&gt;
          <li class="github" title="Github登录" (click)="oauthLogin(oauth2Enum.github)">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-github-login"></use>
            </svg>
          </li>
          &lt;!&ndash;QQ登录&ndash;&gt;
          <li class="qq" title="QQ登录" (click)="oauthLogin(oauth2Enum.qq)">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-QQ"></use>
            </svg>
          </li>
        </ul>
      </div>
    </form>
  </div>
  &lt;!&ndash;注册&ndash;&gt;
  <div class="container__form container&#45;&#45;signin">
    <form nz-form [formGroup]="registerForm" (ngSubmit)="registerSubmit()" role="form" class="form"
          *ngIf="!registerSuccess">
      <h2 class="form__title">{{title}}</h2>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name" [nzSm]="8" [nzXs]="24">
          用户名
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="registerNameInfo">
          <input type="text" nz-input formControlName="registerName" [placeholder]="'用户名登录使用'"/>
          <ng-template #registerNameInfo let-control>
            <ng-container *ngIf="control.hasError('pattern')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              只能英文数字和下划线和中横线
            </ng-container>
            <ng-container *ngIf="control.hasError('required')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              请填写用户名
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              用户名太短
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              用户名太长
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="name" [nzSm]="8" [nzXs]="24">
          昵称
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="userNameTpl">
          <input type="text" nz-input formControlName="userName" [placeholder]="'昵称可随时更改'"/>
          <ng-template #userNameTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              请填写昵称
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              昵称太长
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="email" [nzSm]="8" [nzXs]="24">
          邮箱
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="emailTpl">
          <input type="text" nz-input formControlName="email" [placeholder]="'邮箱地址'"/>
          <ng-template #emailTpl let-control>
            <ng-container *ngIf="control.hasError('email')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              邮箱格式错误
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="name" [nzSm]="8" [nzXs]="24">
          密码
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="registerPasswordTpl">
          <input type="password" nz-input formControlName="registerPassword" [placeholder]="'请填写密码'"/>
          <ng-template #registerPasswordTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              请填写密码
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              两次密码不一致
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              密码太短
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="name" [nzSm]="8" [nzXs]="24">
          密码确认
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="registerPassword2Tpl">
          <input type="password" nz-input formControlName="registerPassword2" [placeholder]="'请再次输入密码'"/>
          <ng-template #registerPassword2Tpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              请再次输入密码
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              两次密码不一致
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
              密码太短
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <div nz-row nzAlign="middle" nzJustify="space-around">
        <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="registerLoading" nzBlock>
          注册
        </button>
      </div>
    </form>
    <nz-result
      nzStatus="success"
      nzTitle="注册成功!"
      nzSubTitle="正在登录..." class="form" *ngIf="registerSuccess"
    >
    </nz-result>
  </div>

  &lt;!&ndash; 切换 &ndash;&gt;
  <div class="container__overlay">
    <div class="overlay">
      <div class="overlay__panel overlay&#45;&#45;left">
        <button class="btn" (click)="signChange('signIn')">注册</button>
        <button class="btn resume" (click)="signChange('resume')">简历</button>
      </div>
      <div class="overlay__panel overlay&#45;&#45;right">
        <button class="btn" (click)="signChange('signUp')">登录</button>
        <button class="btn resume" (click)="signChange('resume')">简历</button>
      </div>
    </div>
  </div>
</div>

&lt;!&ndash;留言图标&ndash;&gt;
<div class="leave-message" title="留言" (click)="showLeaveMessageModal()">
  <svg class="aliicon" [ngClass]="{'show-leave-message':showLeaveMessage}" aria-hidden="true">
    <use xlink:href="#icon-liuyan"></use>
  </svg>
  <i nz-icon nzType="close" nzTheme="outline" class="close" [ngClass]="{'hidden-leave-message':!showLeaveMessage}"></i>
</div>

&lt;!&ndash;留言盒子&ndash;&gt;
<div #leaveMessageBox class="leave-message-box">
  &lt;!&ndash;历史留言&ndash;&gt;
  <div #messageContent class="message">
    <nz-spin [nzSpinning]="leaveMessageLoading">
      <div *ngFor="let msg of messageList;" class="message-box">
        <span class="user-title">
          <span class="name">{{msg.name}}</span>
          <span class="browser">（来自{{msg.browser}}）{{msg.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </span>
        <span class="message-conent">{{msg.message}}</span>
      </div>
    </nz-spin>
  </div>
  &lt;!&ndash;输入框&ndash;&gt;
  <div nz-row nzAlign="middle" class="message-send">
    <div nz-col nzXs="6" class="user-name">
      <span class="user">
        <i nz-icon nzType="user" nzTheme="outline"></i>
      </span>
      &lt;!&ndash;用户昵称&ndash;&gt;
      <nz-input-group [nzSuffix]="suffixIcon" class="input">
        <input type="text" maxlength="5" nz-input placeholder="昵称" [(ngModel)]="leaveMessage.name"/>
      </nz-input-group>
      <ng-template #suffixIcon>
        <i nz-icon nzType="edit" nzTheme="outline"></i>
      </ng-template>
    </div>
    &lt;!&ndash;输入框&ndash;&gt;
    <div nz-col nzXs="18">
      <textarea rows="4" nz-input type="text" maxlength="200" placeholder="请输入留言..." nzBorderless
                [(ngModel)]="leaveMessage.message"></textarea>
    </div>
    &lt;!&ndash;发送按钮&ndash;&gt;
    <div class="send" *ngIf="leaveMessage.message !== ''">
      <button nz-button nzType="primary" (click)="addLeaveMessage()">
        <i nz-icon nzType="send" nzTheme="outline"></i>
      </button>
    </div>
  </div>
</div>
&lt;!&ndash;ICP备案信息&ndash;&gt;
<div class="IPC">
  Copyright ©2022-2023 ICP备案
  <a href="https://beian.miit.gov.cn" target="_blank">鄂ICP备2022017495号-1 </a>
</div>
-->
