:host {
  width: 100%;
  height: 100%;
}

.login-container {
  position: absolute;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  filter: blur(1px);
}

.login-panel {
  width: auto;
  max-width: 500px;
  height: 450px;
  margin: 50px auto 0;
  background-color: #ffffffc2;
  padding: 50px 0 24px;
  border-radius: 30px;
  backdrop-filter: blur(0);

  .top {
    text-align: center;
  }

  .head {
    margin-top: 12px;
    margin-bottom: 40px;
    position: relative;
    color: #000000d9;
    font-weight: 600;
    font-size: 33px;
    vertical-align: middle;
  }
}

.form {
  display: block;
  width: 368px;
  margin: 0 auto;
}

.IPC {
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  color: #888;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .login-container {
    padding: 32px 0 24px;
  }
  .login-container {
    background-image: unset;
  }
}

@media screen and (min-width: 767px) {
  .login-container {
    //background: url("../../../../assets/image/login-background.svg") no-repeat center -215px;
    background-size: 100%;
  }
}
