@import "../../chat-channels/config/chat.scss";

.wrapper {
  position: relative;
  width: 72px;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $--jjext-color-primary;
}

.option-tree {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  .avatar {
  }

  .tree-ul {
    list-style: none;

    .tree-li {

    }
  }
}
