@import "../../chat-channels/config/chat.scss";

.wrapper {
  position: relative;
  width: 72px;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $--jjext-color-primary;
}

.option-tree {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  .avatar {
    position: relative;
    margin: 0 0 8px;
    padding: 12px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 72px;

    &:after {
      content: "";
      position: absolute;
      top: 16px;
      left: 0;
      width: 4px;
      height: 40px;
      background-color: $--jjext-color-base2;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    img {
      box-sizing: border-box;
      position: relative;
      width: 48px;
      height: 48px;
      cursor: pointer;
      border-radius: 10px;
    }
  }

  .tree-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    .tree-li {

    }

    /*添加频道*/
    .add-chat {
      width: 48px;
      height: 48px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $--user-name1;
      border-radius: 24px;
      font-size: 1.2rem;
      background-color: $--jjext-color-secondary-app;
      transition: all 0.2s;

      &:hover {
        color: $--header-primary;
        border-radius: 16px;
        background-color: $--green-1;
        transition: all 0.2s;
      }
    }
  }
}

