@import "../../config/chat.scss";

/*附件消息*/
.attachments {
  //width: 100px;
  border-radius: 6px;

  /*图片*/
  .image-h {
    width: 100px;
    height: 100px;

    .image {
      width: auto;
      height: auto;
      max-width: 100px;
      max-height: 100px;
    }
  }

  /*文本*/
  .text {
    max-width: 90%;
    height: 220px;
    border-radius: 4px;
    padding: 10px 0;
    font-size: 0.75rem;
    white-space: pre-wrap;
    background-clip: border-box;

    .code {
      display: block;
      overflow: auto;
      max-height: 200px;
      padding: 0.5em;
      border-radius: 4px;
      font-family: Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'Microsoft Sans Serif', sans-serif;
      font-size: 0.875rem;
      line-height: 1.125rem;
      text-indent: 0;
      white-space: pre-wrap;
      background-color: $--jjext-color-primary;
      border: 1px solid $--jjext-color-base1;
    }
  }

  /*媒体*/
  .audio {
    min-width: 100px;

    .audio-name {
      cursor: text;
      user-select: text;
      color: $--gold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    audio {
      width: 100%;
      max-width: 500px;
      height: 30px;
    }

    audio::-webkit-media-controls-panel {
      height: 30px;
      outline: none;
      border: none;
      background-color: $--user-int;
    }
  }
}
