<!--附件消息-->
<div class="attachments">
  <ng-container [ngSwitch]="fileInfo.fileType">
    <!--图片-->
    <ng-container *ngSwitchCase="'image'">
      <div class="image-h">
        <nz-image-group>
          <img nz-image class="image" [nzSrc]="fileInfo.path | avatarConversion" alt=""/>
        </nz-image-group>
        <!--        <img [src]="fileInfo.path | avatarConversion" (click)="imgPreview(fileInfo.path)">-->
      </div>
    </ng-container>
    <!--文本-->
    <ng-container *ngSwitchCase="'text'">
      <div class="text">
        <code class="code">{{fileText}}</code>
      </div>
    </ng-container>
    <!--音频-->
    <ng-container *ngSwitchCase="'audio'">
      <div class="audio">
        <p class="audio-name">{{fileInfo.name}}</p>
        <audio controls preload="none" [volume]="0.8">
          <source [src]="fileInfo.path | avatarConversion" [type]="fileInfo.type">
          您的浏览器不支持 audio 元素。
        </audio>
      </div>
    </ng-container>
    <!--其他-->
    <ng-container *ngSwitchDefault>
      <span>其他附件展示开发中</span>
    </ng-container>
  </ng-container>
  <!--  <span nz-icon nzType="file-image" nzTheme="outline"></span>-->
  <!--  <span class="attachments-title">Marketing manager.png</span>-->
</div>
