<div>
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }" class="search-city">
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="输入城市" [(ngModel)]="cityName"
               (keydown.enter)="queryCityLookupWeather()"/>
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSearch [disabled]="loading" (click)="queryCityLookupWeather()">查询</button>
      </ng-template>
    </div>
  </div>
  <!--实时天气-->
  <nz-spin [nzSpinning]="loading">
    <nz-card nzTitle="实时天气" class="card">
      <nz-descriptions nzBordered
                       [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
        <nz-descriptions-item nzTitle="地区/城市名称">{{city?.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="经纬度">{{city?.lat}}，{{city?.lon}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="国家">{{city?.country}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="数据观测时间">{{cityWeather?.obsTime | date:'yyyy-MM-dd hh:mm'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="天气">
          <img [src]="'./assets/icon/QWeather-Icons-1.1.1/' + cityWeather?.icon + '-fill.svg'"
               *ngIf="cityWeather?.icon">
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="温度">{{cityWeather?.temp}}℃</nz-descriptions-item>
        <nz-descriptions-item nzTitle="体感温度">{{cityWeather?.feelsLike}}℃</nz-descriptions-item>
        <nz-descriptions-item nzTitle="降水量">{{cityWeather?.precip}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="风速">
          <nz-badge nzStatus="processing" nzText="{{cityWeather?.windSpeed}}公里/小时"></nz-badge>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="风向">{{cityWeather?.windDir}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="风力等级">{{cityWeather?.windScale}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="描述">{{cityWeather?.text}}</nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
  </nz-spin>
  <!--每日天气预报-->
  <nz-spin [nzSpinning]="loading">
    <nz-card [nzTitle]="weatherTitleTemp" [nzExtra]="dayWeatherTemp" class="card">
      <nz-table #basicTable [nzData]="futureWeather" [nzLoading]="loading" [nzLoadingDelay]="300"
                [nzScroll]="{ x: '1000px', y: '300px' }">
        <thead>
        <tr *ngIf="weatherType === 'day';else hourTr">
          <th nzWidth="100px">序号</th>
          <th>预报日期</th>
          <th>天气</th>
          <th>预报当天最高温度</th>
          <th>预报当天最低温度</th>
          <th>降水量</th>
          <th>风速</th>
          <th>风向</th>
          <th>风力等级</th>
          <th>描述</th>
        </tr>
        <ng-template #hourTr>
          <tr>
            <th nzWidth="100px">序号</th>
            <th>预报时间</th>
            <th>天气</th>
            <th>温度</th>
            <th>降水量</th>
            <th>风速</th>
            <th>风向</th>
            <th>风力等级</th>
          </tr>
        </ng-template>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data;index as idx">
          <td>{{ idx + 1 }}</td>
          <ng-container *ngIf="weatherType === 'day';else hourTd">
            <td>{{ data.fxDate }}</td>
            <td>
              <img [src]="'./assets/icon/QWeather-Icons-1.1.1/' + data?.iconDay + '-fill.svg'">
            </td>
            <td>{{ data.tempMax }}</td>
            <td>{{ data.tempMin }}</td>
            <td>{{ data.precip }}毫米</td>
            <td>{{ data.windSpeedDay }}</td>
            <td>{{ data.windDirNight }}</td>
            <td>{{ data.windScaleNight }}</td>
            <td>{{ data.textDay }}</td>
          </ng-container>
          <ng-template #hourTd>
            <td>{{ data.fxTime | date:'yyyy-MM-dd hh:mm' }}</td>
            <td>
              <img [src]="'./assets/icon/QWeather-Icons-1.1.1/' + data?.icon + '-fill.svg'">
            </td>
            <td>{{ data.temp }}</td>
            <td>{{ data.precip }}毫米</td>
            <td>{{ data.windSpeed }}公里/小时</td>
            <td>{{ data.windDir }}</td>
            <td>{{ data.windScale }}</td>
          </ng-template>
        </tr>
        </tbody>
      </nz-table>
      <!--卡片头部-->
      <ng-template #weatherTitleTemp>
        <nz-select [(ngModel)]="weatherType" (ngModelChange)="weatherTitleChange($event)" class="weatherTitle-select">
          <nz-option *ngFor="let item of weatherTitle" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
        </nz-select>
      </ng-template>
      <!--预报选择-->
      <ng-template #dayWeatherTemp>
        <nz-select [(ngModel)]="days" (ngModelChange)="queryDaysWeather()" class="extra-select"
                   *ngIf="weatherType === 'day'">
          <nz-option *ngFor="let item of daysList" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
        </nz-select>
        <nz-select [(ngModel)]="hours" (ngModelChange)="queryHoursHWeather()" class="extra-select"
                   *ngIf="weatherType === 'hour'">
          <nz-option *ngFor="let item of hoursList" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
        </nz-select>
      </ng-template>
    </nz-card>
  </nz-spin>
</div>
