.search-city {
  margin-bottom: 10px;

  .input-group {
    width: 100%;
  }
}

.card {
  margin: 12px 0;
}

.weatherTitle-select {
  width: 200px;
}

.extra-select {
  width: 100px;
}

.tags {
  display: flex;
  align-items: center;

  a {
    display: inline-block;
    margin: 5px;
    text-decoration: underline;
  }
}

.weather-icon {
  vertical-align: text-top;
}
