<form nz-form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" role="form">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="loginNameInfo">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="loginName" placeholder="请输入用户名" />
      </nz-input-group>
      <ng-template #loginNameInfo>
        <ng-container *ngIf="loginName.dirty && loginName.errors">
          <div>
            <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
            <span>请输入用户名</span>
          </div>
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="passwordInfo">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="请输入密码" />
      </nz-input-group>
      <ng-template #passwordInfo>
        <ng-container *ngIf="password.dirty && password.errors">
          <div>
            <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
            <span>请输入密码</span>
          </div>
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
<!--  <a class="test-user" (click)="testUser()">使用测试账户</a>-->
  <nz-form-item>
    <label nz-checkbox formControlName="remember">记住用户名</label>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loginLoading" nzBlock>
      登录
    </button>
  </nz-form-item>
</form>
