.test-user {
  display: inline-block;
  margin-bottom: 12px;
}

.optiona {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-back {
  width: 100%;
}
