$--jjext-color-secondary-app: #4e5969;
$--jjext-color-thirdly: #86909c;
$--jjext-color-primary: #1d2129;
$--jjext-color-base: #2B2D31FF;
$--jjext-color-base0: rgb(56, 58, 64);
$--jjext-color-base1: rgb(109, 111, 120);
$--jjext-color-base2: rgb(219, 222, 225);
$--header-primary: rgb(242, 243, 245);
$--text-muted: rgb(148, 155, 164);
$--li-hover: rgb(70 73 80);
$--user-int: #abcdef;
$--user-name1: rgb(46, 204, 113);
$--warning: #f50;
$--emoji: rgb(255, 204, 77);
