<div class="content">
  <app-chat-gpt></app-chat-gpt>
  <!--<div nz-row nzGutter="24">
    <div nz-col nzXs="24" nzSm="24" nzMd="18" nzXl="18">
      <app-chat-gpt></app-chat-gpt>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="6" nzXl="6">
      <div class="timor">
        今天是
        <span class="sp">{{holidayWorkdayNext?.date}}{{holidayWorkdayNext?.name}}</span>，
        距离下个工作日还有
        <span class="sp">{{holidayWorkdayNext?.rest}}</span>
        天
      </div>
      <div class="timor">
        <span>{{holidayTts}}</span>
      </div>
      <div class="timor">
        距离发工资还有
        <span class="sp">{{wagesCountdown}}</span>
        天
      </div>
    </div>
    &lt;!&ndash;    <nz-result [nzIcon]="'smile-twotone'" [nzTitle]="'待开发'"></nz-result>&ndash;&gt;
  </div>-->
</div>
