.chatGPT {
  font-size: 18px;
  border: solid 1px #1890ff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.chatGPT-content {
  height: 600px;
  padding: 30px 12px;
  overflow-y: auto;

  .openAiAlert {
    position: absolute;
    top: 8px;
    left: 12px;
    right: 120px;
    z-index: 1;
  }

  // 对话框
  .dialog-box {
    animation: 0.5s all;

    ::ng-deep {
      .ant-comment-content-author-time {
        font-size: 16px;
      }

      .ant-comment-actions > li > span {
        font-size: 16px;
      }

      /*我的对话框*/
      .user {
        .ant-comment-content-author-time {
          color: #000000;
        }

        .ant-comment-content {
          background-color: #87d068;
          color: #000000;
        }

        .ant-comment-actions > li > span {
          color: #000000;
        }
      }

      /*AI对话框*/
      .ai {
        .ant-comment-content-author-time {
          color: #ffffff;
        }

        .ant-comment-content {
          background-color: #1890ff;
          color: #ffffff;
        }

        .ant-comment-actions > li > span {
          color: #ffffff;
        }
      }

      .ant-comment-content {
        border: 1px solid #ffffff;
        border-radius: 8px;
        padding: 6px;
        font-size: 20px;
      }
    }


    .avatar {
      background-color: #87d068;
    }

    .ant-comment-content-author {
      color: #000000;
    }
  }

  .loading {
    font-size: 24px;
  }

  .send {
    min-width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #1890ff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    text-align: center;
    padding: 0 1rem;

    > div {
      margin: 10px 0;
    }

    .send-model {
      font-size: 14px;

      .send-sendModel {
        min-width: 120px;
      }
    }

    .send-input {
      width: 50%;
      min-width: 100px;
      display: flex;

      .send-button {
        margin-left: 8px;
      }
    }

    .send-synth {
      font-size: 14px;

      .send-synthModel {
        width: 70px;
      }
    }
  }
}
