<!--chatGPT人工智能AI对话-->
<div class="chatGPT">
  <nz-ribbon nzText="ChatGPT人工智能对话AI">
    <article>
      <div #chatGPT class="chatGPT-content">
        <!--对话框-->
        <div class="dialog-box" *ngFor="let message of dialogBoxMessageList;index as idx">
          <!--对话框数据循环-->
          <nz-comment class="{{message.create}}" [nzAuthor]="message.name"
                      [nzDatetime]="message.time | date:'yyyy-MM-dd HH:mm:ss'">
            <nz-avatar nz-comment-avatar nzIcon="user" class="avatar"
                       *ngIf="message.create === 'me'"></nz-avatar>
            <nz-avatar nz-comment-avatar nzIcon="user"
                       nzSrc="https://openaiapi-site.azureedge.net/public-assets/d/9e50936dfb/favicon.svg"
                       *ngIf="message.create === 'ai'"></nz-avatar>
            <nz-comment-content>
              <p>{{message.value}}</p>
            </nz-comment-content>
            <!--文字朗读-->
            <nz-comment-action *ngIf="isShowSynth">
              <i nz-icon [nzType]="message.speak ? 'audio-muted':'audio'" nzTheme="outline"></i>
              <span class="count like" (click)="speak(idx, message)">{{message.speak ? '结束朗读' : '朗读'}}</span>
            </nz-comment-action>
          </nz-comment>
        </div>
        <nz-spin nzSimple [nzIndicator]="indicatorTemplate" *ngIf="dialogLogin"></nz-spin>
        <ng-template #indicatorTemplate><i nz-icon nzType="loading" class="loading"></i></ng-template>
        <!--输入框-->
        <div nz-row nzAlign="middle" nzJustify="space-around" class="send">
          <div nz-col nzXs="24" nzSm="24" nzMd="15" nzXl="15" class="send-input">
            <input nz-input type="text" placeholder="输入想问的问题"
                   [(ngModel)]="sQuestion" (keyup.enter)="send()"/>
            <button nz-button nzType="primary" type="submit" class="send-button" [disabled]="dialogLogin"
                    (click)="send()">发送
            </button>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="4" nzXl="4" class="send-model">
            <span>对话模型：</span>
            <nz-select [(ngModel)]="sendModel" class="send-sendModel">
              <nz-option-group nzLabel="理解生成自然语言">
                <nz-option nzValue="text-davinci-003" nzLabel="davinci-003"></nz-option>
                <nz-option nzValue="text-curie-001" nzLabel="curie-001"></nz-option>
                <nz-option nzValue="text-babbage-001" nzLabel="babbage-001"></nz-option>
                <nz-option nzValue="text-ada-001" nzLabel="ada-001"></nz-option>
              </nz-option-group>
              <nz-option-group nzLabel="理解生成代码">
                <nz-option nzValue="code-davinci-002" nzLabel="davinci-002"></nz-option>
                <nz-option nzValue="code-cushman-001" nzLabel="cushman-001"></nz-option>
              </nz-option-group>
            </nz-select>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="3" nzXl="3" class="send-synth">
            <span>朗读语言：</span>
            <nz-select [(ngModel)]="synthModel" class="send-synthModel">
              <nz-option nzValue="zh-CN" nzLabel="汉语"></nz-option>
              <nz-option nzValue="en-US" nzLabel="英语"></nz-option>
              <nz-option nzValue="ru-RU" nzLabel="俄语"></nz-option>
              <nz-option nzValue="es-ES" nzLabel="西班牙语"></nz-option>
              <nz-option nzValue="de-DE" nzLabel="德语"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </article>
  </nz-ribbon>
</div>
