.form-error-validate {
  position: absolute;
  top: 6px;
  right: 8px;
  z-index: 99;

  .anticon {
    color: #0e77ca;
    font-size: 14px;
  }
}

.form-suffix {
  display: inline-block;
  width: 30px;
  height: 32px;
  line-height: 32px
}

.error-warp {
  position: absolute;
  width: max-content;
  height: 21px;
  overflow-y: hidden;
  color: red;


}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-box-shadow: 0 0 0 1000px white inset;
  border: 1px solid #ccc !important;
}


.config-item-title {
  display: inline-block;
  color: #fff;
  //background: $color;
  width: 74px;
  height: 22px;
  padding-left: 3px;
}

.config-t {
  margin: 0 0 9px;
  border-bottom: 1px solid #ccc;
}

