<div class="table-content">
  <button nz-button nzType="primary" (click)="addUser()" *ngIf="role === '1001'">
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    <span>新增用户</span>
  </button>
  <nz-table #basicTable nzShowPagination nzShowSizeChanger
            [nzData]="userList"
            [nzTotal]="dataTotal"
            [(nzPageIndex)]="pageParams.pageNum"
            [(nzPageSize)]="pageParams.pageSize"
            (nzPageIndexChange)="pageIndexChange($event)"
            (nzPageSizeChange)="pageSizeChange($event)"
            [nzLoading]="loading"
            [nzLoadingDelay]="300"
            [nzPageSizeOptions]="[5,10,20,50]"
            [nzFrontPagination]="false"
            [nzScroll]="{ x: '500px' }">
    <thead>
    <tr>
      <th nzWidth="100px">序号</th>
      <th>登录名</th>
      <th>用户名</th>
      <th>角色</th>
      <th nzWidth="180px">上次登录时间</th>
      <th *ngIf="role === '1001'">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data;index as idx">
      <td>{{ idx + 1 }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.userName }}</td>
      <td>{{ data.roleName }}</td>
      <td nzWidth="180px">{{ data.lastLoginTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td *ngIf="role === '1001'">
        <div>
          <button nz-button nzType="text" nzDanger nz-popconfirm
                  nzPopconfirmTitle="确定要删除吗？"
                  (nzOnConfirm)="deleteUser(data.id)">删除
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

