@font-face {
  font-family: "iconfont"; /* Project id 3889418 */
  src: url('iconfont.woff2?t=1680014863296') format('woff2'),
       url('iconfont.woff?t=1680014863296') format('woff'),
       url('iconfont.ttf?t=1680014863296') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Nodejs:before {
  content: "\e79b";
}

.icon-liuyan:before {
  content: "\e611";
}

.icon-xiaochengxu:before {
  content: "\e63a";
}

.icon-webstorm1:before {
  content: "\e618";
}

.icon-antdesign:before {
  content: "\eaa1";
}

.icon-nginx:before {
  content: "\e69c";
}

.icon-java:before {
  content: "\e639";
}

.icon-login:before {
  content: "\e646";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-CSS:before {
  content: "\e705";
}

.icon-HTML:before {
  content: "\e706";
}

.icon-Angular:before {
  content: "\e798";
}

.icon-typescript1:before {
  content: "\e6a3";
}

.icon-npm:before {
  content: "\e610";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-scss:before {
  content: "\e657";
}

.icon-position:before {
  content: "\e7f1";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-weibo:before {
  content: "\e882";
}

.icon-github:before {
  content: "\e6f6";
}

.icon-csdn:before {
  content: "\e638";
}

