<nz-layout class="app-layout">
  <!--头部-->
  <nz-header>
    <div class="app-header">
      <!--logo-->
      <div class="sidebar-logo" [ngClass]="{'sidebar-logo-fold':isCollapsed}">
        <a target="_blank">
          <img src="./assets/image/cat.jpg" alt="logo">
          <h1 class="logo-title" *ngIf="!isCollapsed">Cat</h1>
        </a>
      </div>
      <!--头部功能-->
      <div class="header-nav-wrap">
        <div class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span>
            <i class="trigger" nz-icon [nzType]="'menu-unfold'" *ngIf="isCollapsed"></i>
            <i class="trigger" nz-icon [nzType]="'menu-fold'" *ngIf="!isCollapsed"></i>
          </span>
        </div>
        <!--搜索路由-->
        <div class="search-menu">
          <input
            nz-input type="text" placeholder="搜索菜单"
            [(ngModel)]="searchMenuValue"
            [nzAutocomplete]="auto"
            (ngModelChange)="searchMenuValueChange($event)"/>
          <nz-autocomplete nzBackfill #auto>
            <nz-auto-option *ngFor="let option of menuOption"
                            (click)="optionChange(option.url)"
                            [nzValue]="option.url"
                            [nzLabel]="option.text">
              {{ option.text }}
            </nz-auto-option>
          </nz-autocomplete>
        </div>
      </div>
      <div class="alain-default__nav-item" nz-dropdown [nzDropdownMenu]="settingsMenu"
           nzTrigger="click"
           nzPlacement="bottomRight">
        <div class="d-flex align-items-center px-sm">
          <img alt="头像" src="{{avatar | avatarConversion}}" class="avatar" *ngIf="avatar !== null">
          <nz-avatar nzIcon="user" class="avatar" *ngIf="avatar === null"></nz-avatar>
          <span class="username-p">
            {{ userName }}
          </span>
        </div>
        <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
          <div nz-menu style="width:160px;">
            <div nz-menu-item (click)="updateUser()">
              <a>
                <span nz-icon nzType="user" nzTheme="outline"></span>
                个人中心
              </a>
            </div>
            <div nz-menu-item (click)="logout()">
              <a>
                <span nz-icon nzType="logout" nzTheme="outline"></span>
                退出登录
              </a>
            </div>
          </div>
        </nz-dropdown-menu>
      </div>
    </div>
  </nz-header>
  <!--菜单-->
  <nz-sider class="menu-sidebar"
            [ngClass]="{'menu-sidebar-collapsed':isCollapsed}"
            nzCollapsible
            nzWidth="200px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let menu of menuList;">
        <!--菜单是否可见-->
        <ng-container *ngIf="menu.isShow">
          <!--无子级的菜单-->
          <li nz-menu-item
              nzMatchRouter
              nzMatchRouterExact
              [nzSelected]="menu.isSelected"
              [routerLink]="menu.menuHref"
              (click)="menuitemClick(menu)"
              *ngIf="menu.children.length === 0"
              [title]="menu.menuName">
            <span nz-icon [nzType]="menu.icon" *ngIf="!menu.imageUrl"></span>
            <span class="item-icon" [ngStyle]="{'background-image':'url('+ menu.imageUrl +')'}"
                  *ngIf="menu.imageUrl"></span>
            <span *ngIf="!isCollapsed">{{menu.menuName}}</span>
          </li>
          <!--有子级的菜单-->
          <li nz-submenu [nzIcon]="menu.icon" [nzTitle]="menu.menuName" [title]="menu.menuName"
              *ngIf="menu.children.length > 0">
            <ul>
              <!--循环子级菜单-->
              <ng-container *ngFor="let menuChildren of menu.children">
                <!--菜单是否可见-->
                <ng-container *ngIf="menuChildren.isShow">
                  <li nz-menu-item
                      nzMatchRouter
                      nzMatchRouterExact
                      [nzSelected]="menuChildren.isSelected"
                      [routerLink]="menuChildren.menuHref"
                      (click)="menuitemClick(menu)"
                      [title]="menuChildren.menuName">
                    <span class="nz-icon" nz-icon [nzType]="menuChildren.icon" *ngIf="!menuChildren.imageUrl"></span>
                    <span class="item-icon" [ngStyle]="{'background-image':'url('+ menuChildren.imageUrl +')'}"
                          *ngIf="menuChildren.imageUrl"></span>
                    <a [routerLink]="menuChildren.menuHref">{{menuChildren.menuName}}</a>
                  </li>
                </ng-container>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </nz-sider>
  <!--内容-->
  <nz-layout class="main-layout">
    <nz-content class="ant-layout-content" [ngClass]="{'ant-layout-content-collapsed':isCollapsed}">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
