:host {
  width: 100%;
  height: 100%;

  @media screen and (max-width: 768px) {
    .ant-layout-content {
      margin-left: 0;
      transform: translateZ(0);
    }
    .sidebar-logo {
      width: 60px !important;
    }
    .logo-title {
      display: none !important;
    }
    .menu-sidebar-collapsed {
      transform: translate3d(-100%, 0, 0);
    }
    .ant-layout-content-collapsed {
      margin-left: 0 !important;
    }
  }
}

.app-layout {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;

  /*头部*/
  nz-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1890ff;
    padding: 0 20px;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    z-index: 19;

    .app-header {
      position: relative;
      height: 64px;
      padding: 0;
      background-color: #1890ff;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      width: 100%;

      .sidebar-logo {
        width: 180px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        background-color: #1890ff;
        transition: all .3s;

        img {
          display: inline-block;
          height: 40px;
          width: 40px;
          vertical-align: middle;
          border-radius: 20px;
        }

        h1 {
          display: inline-block;
          margin: 0 0 0 20px;
          font-weight: 600;
          font-size: 24px;
          color: #ffffff;
          vertical-align: middle;
        }
      }

      .sidebar-logo-fold {
        width: 60px;
      }

      .header-nav-wrap {
        display: flex;
        flex: 1;
        height: 64px;

        .header-trigger {
          display: block;
          min-width: 50px;
          text-align: center;
          border-radius: 2px;
          outline: none;
          cursor: pointer;
          transition: background-color .3s;

          .trigger {
            font-size: 20px;
            color: #ffffff;
          }

          &:hover {
            color: #fff;
            background-color: #fff3 !important;
          }
        }

        .search-menu {
          max-width: 130px;
          text-align: center;

          input {
            border-radius: 12px;
          }
        }

      }
    }
  }


  .menu-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 14;
    width: 200px;
    margin-top: 64px;
    overflow: hidden;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .2s cubic-bezier(.25, 0, .15, 1), translate .2s cubic-bezier(.25, 0, .15, 1);
    -webkit-overflow-scrolling: touch;

    .item-icon {
      width: 30px;
      height: 20px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: text-bottom;
    }
  }

  .main-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;

    .ant-layout-content {
      margin-top: 64px;
      margin-left: 200px;
      background-color: #f5f7fa;
      transition: all .2s cubic-bezier(.25, 0, .15, 1), translate .2s cubic-bezier(.25, 0, .15, 1);
    }

    .ant-layout-content-collapsed {
      margin-left: 80px;
    }

    .inner-content {
      padding: 12px;
      height: 100%;
      min-height: 800px;
      overflow-y: auto;
      overflow-x: clip;
      position: relative;
    }
  }
}

.alain-default__nav-item {
  display: block;
  min-width: 50px;
  padding: 8px 2px;
  line-height: 100%;
  text-align: center;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  transition: background-color .3s;

  .align-items-center {
    align-items: center;
  }

  .d-flex {
    display: flex;
  }

  .px-sm {
    padding: 0 8px;

    .avatar {
      //width: 24px;
      //height: 24px;
      margin-right: 10px;
      background-color: #87d068;
    }
  }

  &:hover {
    background-color: #fff3 !important;
  }
}
