@import "../../chat-channels/config/chat.scss";

.container {
  display: flex;
  overflow: hidden;
  position: absolute;
  left: 70px;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.2s;

  .sidebar {
    flex-direction: column;
    min-height: 0;
    width: 12rem;
    height: 100%;
    flex: 0 0 auto;
    display: flex;
    overflow: hidden;
    background-color: $--jjext-color-base;
    transition: all 0.3s;
    z-index: 2;
    box-shadow: 2px 0 3px 0 rgb(56, 58, 64);

    /*用户列*/
    .scrollerInner {
      overflow: auto;
      list-style: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 50px;
      /*隐藏滚动条*/
      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar {
        width: 0 !important
      }

      &::-webkit-scrollbar-track {
        border-width: initial;
      }

      /*骨架屏*/
      .skeleton {
        padding: 0 8px;
      }

      /*在线用户*/
      .onlineUserList {
        position: relative;
        background-color: $--jjext-color-base;


        .user-item {
          padding: 4px 0 4px 0.2rem;
          width: 11rem;
          height: 60px;
          margin: 0 auto;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;

          &:hover {
            background-color: $--li-hover;
            border-radius: 8px;
            transition: all 0.15s;
          }

          .user-avatar {
            position: absolute;
            width: 40px;
          }

          .user-title {
            color: $--green;
            font-size: 0.9rem;
            width: 10rem;
            padding-left: 3rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .user-remarks {
            color: $--text-muted;
            font-size: 0.6rem;
            width: 10rem;
            padding-left: 3rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }

    /*我的信息*/
    .my-info {
      height: 50px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      padding: 0 8px;
      background-color: $--jjext-color-base3;

      /*头像信息*/
      .avatar-wrapper {
        height: 38px;
        display: flex;
        align-items: center;
        margin: 0 8px 0 -2px;
        min-width: 100px;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
          background-color: $--jjext-color-base0;
        }

        /*头像*/
        .avatar {
          .user-avatar {
            width: 32px;
            height: 32px;
            border-radius: 16px;
          }
        }

        /*名称*/
        .name-tag {
          padding: 4px 0 4px 8px;
          user-select: text;
          flex-grow: 1;
          margin-right: 4px;
          min-width: 0;

          p {
            max-width: 100px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $--jjext-color-base2;
            font-size: 14px;
          }

          .name-title {
            line-height: 18px;
          }

          .status {
            color: $--green;
          }
        }

      }

      /*配置*/
      .config-wrapper {
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;

        /*我的设置*/
        .user-setting {
          width: 38px;
          height: 38px;
          cursor: pointer;
          line-height: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          position: relative;
          font-size: 16px;
          color: $--jjext-color-base2;

          &:hover {
            background-color: $--jjext-color-base0;
          }
        }
      }
    }
  }

  /*左侧用户展开*/
  .sidebar-collapsed {
    position: absolute;
    z-index: 2;
    transition: all 0.3s;
  }

  .chat {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 0;
    flex: 1 1 auto;
    background-color: $--jjext-color-secondary-app;

    .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: none !important;
      display: flex;
      flex-direction: column;

      /*置顶*/
      .top-info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $--jjext-color-base0;
        box-shadow: 0 1px 3px 0 $--jjext-color-base0;
        z-index: 1;

        .unfold {
          color: #fff3cd;
          flex: 0.2 0;
        }

        .info-txt {
          flex: 0.8 0;
          min-width: 150px;
          color: $--jjext-color-base2;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center;
        }

        .operation-group {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex: 0.2 0;
          min-width: 120px;

          .hidden-user-list {
            display: none;
          }

          .open-user-list {
            color: $--user-name1 !important;
          }

          .operation {
            font-size: 1.5rem;
            color: $--jjext-color-base2;
            cursor: pointer;

            &:hover {
              color: $--user-name1;
            }
          }

          .quit {
            &:hover {
              color: $--warning;
            }
          }

          /*标注消息*/
          .pushpin {
            position: absolute;
            top: 40px;
            right: 0;
            box-shadow: 0 1px 3px 0 $--jjext-color-base0;
            color: $--jjext-color-base2;
            transition: all 0.2s;
            display: none;

            .pushpin-title {
              background-color: $--jjext-color-base;
              padding: 10px;
            }

            .pushpin-centent {
              background-color: $--jjext-color-secondary-app;
              padding: 10px;
              min-width: 200px;
              min-height: 100px;
            }

            .pushpin-textarea {
              width: 100%;
              border: none;
              outline: none;
              color: $--jjext-color-base2;
              background-color: $--jjext-color-secondary-app;
            }
          }

          .pushpinShow {
            display: inline-block;
            transition: all 0.2s;
          }

          .pushpin-active {
            color: $--user-name1;
          }
        }
      }

      /*表情选择*/
      .emoji-select {
        width: 300px;
        height: 0;
        border-radius: 8px;
        box-shadow: 0 0 4px 0 $--jjext-color-base0;
        position: absolute;
        bottom: 70px;
        left: 16px;
        background-color: $--jjext-color-base;
        transition: all 0.2s;
        overflow: auto;

        .emoji-content {
          color: $--emoji;
          padding: 4px;

          .emoji {
            font-size: 2rem;
            transform: scale(1);
            transition: transform 0.1s;
            display: inline-block;
            cursor: pointer;
            user-select: none;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }

      .emoji-active {
        height: 400px;
        transition: all 0.2s;
      }

      /*附件上传*/
      .file-upload {
        width: 100px;
        height: 0;
        border-radius: 8px;
        box-shadow: 0 0 4px 0 $--jjext-color-base0;
        position: absolute;
        bottom: 70px;
        left: 50px;
        background-color: $--jjext-color-base;
        transition: all 0.2s;
        color: #ffffff;
        overflow: hidden;

        .upload-drag-icon {
          font-size: 1.2rem;
        }

        .info {
          font-size: 0.9rem;
          text-align: center;
        }
      }

      .file-upload-active {
        height: 120px;
        transition: all 0.2s;
      }
    }

    /*主体*/
    .messagesWrapper {
      position: relative;
      flex: 1 1 auto;
      min-height: 0;
      min-width: 0;
      z-index: 0;
      display: flex;

      /*置底按钮*/
      .toBottoms {
        position: fixed;
        bottom: 75px;
        left: 0;
        right: 0;
        text-align: center;

        .toBottomsTitle {
          color: $--header-primary;
          cursor: pointer;
          padding: 5px;
          border-radius: 6px;
          background-color: $--jjext-color-base;
        }
      }

      /*虚拟滚动*/
      .scrollerBase {
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;

        &::-webkit-scrollbar {
          border: 4px solid #00000000;
          background-clip: padding-box;
          border-radius: 8px;
        }

        .list-view-phantom {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          z-index: -1;
        }

        .scrollerInner {
          min-height: 0;
          overflow: hidden;
          list-style: none;

          /*加载*/
          .spin {
            text-align: center;

            .loading {
              color: $--jjext-color-base2;
              font-size: 2rem;
            }
          }

          /*每一条消息*/
          .messageListItem {
            outline: none;
            position: relative;

            &:hover {
              background-color: $--li-hover;
              transition: background-color 0.15s;
            }

            /*消息外层*/
            .message {
              margin-top: 1.0625rem;
              padding: 0 16px 0 72px;
              position: relative;
              word-wrap: break-word;
              -webkit-user-select: text;
              -moz-user-select: text;
              -ms-user-select: text;
              user-select: text;
              -webkit-box-flex: 0;
              -ms-flex: 0 0 auto;
              flex: 0 0 auto;
              min-height: 1.375rem;

              /*引用消息*/
              .reference {
                color: $--jjext-color-base2;
                font-size: 0.9rem;
                display: flex;
                margin-bottom: 4px;

                .referenceUserName {
                  color: $--user-name1;
                  margin-right: 4px;
                }

                .referenceTxt {
                  max-width: 70%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }

              /*消息主体*/
              .contents {
                position: static;
                margin-left: 0;
                padding-left: 0;
                text-indent: 0;

                &:hover {
                  .reactionHidden {
                    display: flex !important;
                    transition: all 0.2s;
                  }
                }

                /*头像*/
                .avatar, .user-avatar {
                  position: absolute;
                  left: 16px;
                  margin-top: calc(4px - 0.125rem);
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  overflow: hidden;
                  cursor: pointer;
                  -webkit-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
                  -webkit-box-flex: 0;
                  -ms-flex: 0 0 auto;
                  flex: 0 0 auto;
                  z-index: 1;
                  pointer-events: auto;
                }

                /*消息头*/
                .header {
                  display: block;
                  position: relative;
                  line-height: 1.375rem;
                  min-height: 1.375rem;
                  color: #ffffff;
                  white-space: break-spaces;
                  word-wrap: pre-wrap;
                  overflow: hidden;

                  .headerText {
                    margin-right: 0;

                    /*用户名*/
                    .username {
                      font-size: 1rem;
                      font-weight: 500;
                      line-height: 1.375rem;
                      color: $--user-name1;
                      display: inline;
                      vertical-align: baseline;
                      position: relative;
                      overflow: hidden;
                      flex-shrink: 0;
                      white-space: break-spaces;
                      word-wrap: break-word;
                    }

                    /*时间*/
                    .timestamp {
                      font-size: 0.75rem;
                      line-height: 1.375rem;
                      color: $--text-muted;
                      vertical-align: baseline;
                      display: inline-block;
                      height: 1.25rem;
                      cursor: default;
                      pointer-events: none;
                      font-weight: 500;
                    }
                  }
                }
              }
            }

            /*连续消息*/
            .continuous {
              margin-top: 0.3rem;

              &:hover {
                .timeHidden {
                  display: flex !important;
                  transition: all 0.2s;
                }

                .reactionHidden {
                  display: flex !important;
                  transition: all 0.2s;
                }
              }

              /*消息时间*/
              .timestamp {
                left: 12px;
              }

              .timeHidden {
                display: none;
              }
            }

            /*系统消息*/
            .system {
              height: 2rem;
              overflow: hidden;
              text-align: center;
              color: $--text-muted;
              font-size: 1rem;
              line-height: 2rem;
              margin: 1rem 0;

              /*消息时间*/
              .timestamp {
                left: 12px;
              }

              .timeHidden {
                display: none;
              }

              .user-join {
                color: $--user-int;
                margin: 0 0.2rem;
              }

              &:hover {
                .timeHidden {
                  display: flex !important;
                  transition: all 0.2s;
                }
              }
            }
          }
        }
      }
    }

    /*输入框*/
    .channelTextArea {
      position: relative;
      flex-shrink: 0;
      padding: 0 16px;
      overflow-x: hidden;
      overflow-y: scroll;
      -ms-overflow-style: none;

      /*隐藏滚动条*/
      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar {
        width: 0 !important
      }

      &::-webkit-scrollbar-track {
        border-width: initial;
      }

      /*回复引用消息*/
      .recoverChat {
        padding: 6px 8px 0 8px;
        border-radius: 8px;
        color: $--jjext-color-base2;
        background-color: $--jjext-color-base1;
        display: flex;
        justify-content: space-between;

        .recoverChatForm {
          display: inline-block;
          margin-left: 4px;
          color: $--user-name1;
        }

        .closeRecover {
          font-size: 1.2rem;
          cursor: pointer;
        }
      }

      /*输入框内部*/
      .formArea {
        display: flex;
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        text-indent: 0;
        border-radius: 8px;
        padding: 4px;
        background-color: $--jjext-color-base0;

        /*附加功能*/
        .additional {
          display: flex;
          justify-content: space-around;
          align-items: center;
          min-width: 100px;

          .icon {
            cursor: pointer;
            font-size: 1.6rem;
            color: $--jjext-color-base1;

            &:hover {
              color: $--jjext-color-base2;
            }
          }
        }

        /*文字*/
        .textArea {
          position: relative;
          flex: 1 1 auto;
          display: flex;

          .placeholder {
            padding-top: 10px;
            position: absolute;
            left: 10px;
            width: 90%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-user-select: none;
            user-select: none;
            pointer-events: none;
            z-index: 1;
            color: $--jjext-color-thirdly;
          }

          .markup {
            display: inline-block;
            position: relative;
            outline: none;
            overflow-wrap: break-word;
            text-align: left;
            word-break: break-word;
            white-space: break-spaces !important;
            left: 0;
            right: 10px;
            resize: none;
            width: 100%;
            height: unset !important;
            max-height: 300px;
            overflow: auto;
            border: none;
            color: #fff;
            padding: 10px;
            caret-color: #ffffff;
            user-select: text;
            font-size: 1rem;
            line-height: 1.375rem;
            background-color: $--jjext-color-base0;
            /** 滚动条样式*/
            &::-webkit-scrollbar {
              width: 0;
              height: 0;
            }
          }
        }

        /*发送按钮*/
        .buttonArea {
          display: flex;
          justify-content: right;
          align-items: center;

          .send-button {
            width: 42px;
            padding: 10px;
            height: unset;
            border: unset;
            border-radius: 8px;
            background-color: $--jjext-color-base1;
          }
        }
      }
    }
  }
}

.channelsUnfold {
  left: 70px !important;
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  .container {
    left: 0;
  }
  .unfold {
    display: inline-block !important;
  }
  .hidden-user-list {
    display: inline-block !important;
  }
  /*媒体查询是用来设置样式的 当实际的屏幕大小满足条件时就执行样式 */
  .isHidden {
    position: absolute;
    left: -12rem;
  }

  .sidebar-collapsed {
    left: 0 !important;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 769px) {
  /*媒体查询是用来设置样式的 当实际的屏幕大小满足条件时就执行样式 */
  .container {
    left: 70px;
  }
  .unfold {
    display: none !important;
  }
  .isHidden {
    position: relative;
  }
}
