<div class="container">
  <!--左侧导航-->
  <div #sidebar class="sidebar isHidden" [ngClass]="{'sidebar-collapsed':morOperate.isCollapsed}"
       (click)="publicClose()">
    <!--用户列-->
    <ol class="scrollerInner" aria-label="用户" role="list" tabindex="0">
      <!--骨架屏-->
      <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzParagraph]="{ rows: 2 }" class="skeleton"
                   *ngIf="loadedingStatus.userLoad"></nz-skeleton>
      <!--每一个在线用户-->
      <ng-container *ngIf="!loadedingStatus.userLoad">
        <li class="onlineUserList" aria-setsize="-1" *ngFor="let item of onlineUserList;index as idx">
          <div class="user-item" (contextmenu)="contextMenu($event, menu)"
               (click)="selectUserId = item.id"
               nz-popover
               nzPopoverTrigger="click"
               nzPopoverPlacement="right"
               [nzPopoverContent]="popoverContentTemplate">
            <!--头像-->
            <ng-container *ngIf="!item.avatar;else avatar">
              <nz-avatar
                [nzGap]="1"
                [ngStyle]="{ 'background-color': '#87d068' }"
                [nzText]="item.userName"
                nzSize="large"
                style="vertical-align: middle;"
                class="user-avatar"
              ></nz-avatar>
            </ng-container>
            <ng-template #avatar>
              <img [src]="item.avatar | avatarConversion" alt="头像" class="user-avatar">
            </ng-template>
            <!--名称-->
            <p class="user-title" [style]="{color:item.color}">
              {{item.userName}}
            </p>
            <!--备注-->
            <p class="user-remarks">
              {{item.remarks}}
            </p>
          </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="mention(item)">@提及</li>
            </ul>
          </nz-dropdown-menu>
        </li>
      </ng-container>
    </ol>
    <!--我的信息-->
    <div class="my-info">
      <div class="avatar-wrapper">
        <!--头像-->
        <div class="avatar">
          <ng-container *ngIf="!userInfo.avatar;else avatar">
            <nz-avatar
              [nzGap]="1"
              [ngStyle]="{ 'background-color': '#87d068' }"
              [nzText]="userInfo.userName"
              nzSize="large"
              style="vertical-align: middle;"
              class="user-avatar"
            ></nz-avatar>
          </ng-container>
          <ng-template #avatar>
            <img [src]="userInfo.avatar | avatarConversion" alt="头像" class="user-avatar">
          </ng-template>
        </div>
        <!--名称-->
        <div class="name-tag">
          <p class="name-title">{{userInfo.userName}}</p>
          <p class="status">在线</p>
        </div>
      </div>
      <div class="config-wrapper">
        <!--设置-->
        <span nz-icon nzType="setting" nzTheme="outline" title="我的设置" class="user-setting"
              (click)="morOperateChange('showSetting')"></span>
      </div>
    </div>
  </div>
  <!--中间和右侧房间信息-->
  <div class="chat">
    <div class="content">
      <!--置顶-->
      <div class="top-info">
        <div class="info-txt">
          欢迎来到{{roomChannel?.roomName}}！
        </div>
        <div class="operation-group">
          <!--在线用户-->
          <span class="operation hidden-user-list" [ngClass]="{'open-user-list':morOperate.isCollapsed}" title="在线用户"
                nz-icon nzType="team" nzTheme="outline"
                (click)="operateTop('user')"></span>
          <!--标注-->
          <nz-badge nzDot>
            <span class="operation" [ngClass]="{'pushpin-active':morOperate.pushpin}" title="标注" nz-icon
                  nzType="pushpin"
                  nzTheme="outline"
                  (click)="operateTop('pushpin')"></span>
          </nz-badge>
          <!--标注消息-->
          <div class="pushpin" [ngClass]="{'pushpinShow':morOperate.pushpin}">
            <p class="pushpin-title">标注消息</p>
            <!--闲聊频道标注消息-->
            <div class="pushpin-centent" *ngIf="roomChannel?.roomId === '8808'">
              <p>- 禁止发布违反法律、违反道德、人身攻击等言论</p>
              <!--<p>- ChatGPT功能@机器人后使用</p>-->
              <p>- 后续功能正在开发中，可在GitHub查看源码</p>
              <a nz-button nzType="link" href="https://github.com/jiang227947/ziyi-project" target="_blank">GItHub
                Link</a>
            </div>
            <!--自定义标注消息-->
            <div class="pushpin-centent" *ngIf="roomChannel?.roomId !== '8808'">
              <textarea maxlength="100" rows="4" readonly class="pushpin-textarea"
                        [ngModel]="roomChannel?.announcement"
                        *ngIf="roomChannel?.announcement !== ''">
              </textarea>
              <nz-empty *ngIf="roomChannel?.announcement === ''"></nz-empty>
            </div>
          </div>
          <!--退出-->
          <span class="operation quit" title="退出" nz-icon nzType="poweroff" nzTheme="outline"
                (click)="operateTop('quit')"></span>
        </div>
      </div>
      <!--主体-->
      <div class="messagesWrapper">
        <!--虚拟滚动-->
        <div #scrollerBase class="scrollerBase"
             infinite-scroll
             [scrollWindow]="false"
             [infiniteScrollDistance]="scrollDistance"
             [infiniteScrollUpDistance]="scrollUpDistance"
             [infiniteScrollThrottle]="throttle"
             (scrolledUp)="onUp()">
          <!--消息列-->
          <ol class="scrollerInner" aria-label="消息" role="list" tabindex="0">
            <!--load状态-->
            <ng-container *ngIf="loadedingStatus.messageLoad">
              <ng-template #indicatorTemplate>
                <span nz-icon nzType="loading" class="loading"></span>
              </ng-template>
              <nz-spin nzSimple [nzIndicator]="indicatorTemplate" class="spin"></nz-spin>
            </ng-container>
            <!--每一条消息-->
            <li class="messageListItem" aria-setsize="-1" *ngFor="let item of messagesList;index as idx">
              <ng-container [ngSwitch]="item.type">
                <!--一般消息-->
                <ng-container *ngSwitchCase="chatMessagesType.general">
                  <div class="message" role="article" tabindex="-1" aria-setsize="-1" aria-roledescription="消息"
                       aria-labelledby="message-username">
                    <div class="contents">
                      <!--头像-->
                      <ng-container *ngIf="!item.author.avatar;else _avatar">
                        <nz-avatar
                          [nzGap]="1"
                          [ngStyle]="{ 'background-color': '#87d068' }"
                          [nzText]="item.author.userName"
                          nzSize="large"
                          style="vertical-align: middle;"
                          class="user-avatar"
                          (click)="selectUserId = item.author.id"
                          nz-popover
                          nzPopoverTrigger="click"
                          nzPopoverPlacement="right"
                          [nzPopoverContent]="popoverContentTemplate"
                        ></nz-avatar>
                      </ng-container>
                      <ng-template #_avatar>
                        <img [src]="item.author.avatar | avatarConversion" aria-hidden="true" class="user-avatar"
                             alt="头像"
                             (click)="selectUserId = item.author.id"
                             nz-popover
                             nzPopoverTrigger="click"
                             nzPopoverPlacement="right"
                             [nzPopoverContent]="popoverContentTemplate">
                      </ng-template>
                      <!--消息头-->
                      <h3 class="header" aria-labelledby="message-username" (click)="publicClose()">
                        <p class="headerText">
                          <!--用户名-->
                          <span class="username" aria-expanded="false" role="button"
                                tabindex="0">{{item.author.userName}}</span>
                          <span class="timestamp" role="button" tabindex="0">
                            <!--时间-->
                            <time aria-label="{{item.timestamp | date:'yyyy/MM/dd HH:mm:ss' | dateConversion}}"
                                  datetime="{{item.timestamp}}">
                              {{item.timestamp | date:'yyyy/MM/dd HH:mm:ss' | dateConversion}}
                            </time>
                          </span>
                        </p>
                      </h3>
                      <!--消息内容-->
                      <div class="markupMessage" (click)="publicClose()">
                        <!--附件消息-->
                        <app-chat-attachments *ngIf="item.attachments"
                          [attachments]="item.attachments"></app-chat-attachments>
                        <!--文字消息-->
                        <span *ngIf="!item.attachments">{{item.content}}</span>
                      </div>
                      <!--添加反应-->
                      <div class="additive-reaction reactionHidden"
                           (click)="additiveReaction(idx)">
                        <!--表情-->
                        <span title="表情">
                          <svg class="aliicon" aria-hidden="true">
                            <use xlink:href="#icon-emojifill"></use>
                          </svg>
                        </span>
                      </div>
                      <!--反应表情-->
                      <div class="additive-emoji" [ngClass]="{'hidden-additive': !item.reaction}"
                           (click)="publicClose()">
                        <div class="reaction-me" *ngFor="let i of item.reaction"
                             nzTooltipTitle="{{i.count}}人的反应为：{{i.emoji}}" nzTooltipPlacement="top" nz-tooltip
                             (click)="emojiClick(i.emoji, idx)">
                          <span class="reaction-inner">{{i.emoji}}</span>
                          <span class="reaction-count">{{i.count}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <!--连续发言-->
                <ng-container *ngSwitchCase="chatMessagesType.continuous">
                  <div class="message continuous">
                    <!--消息时间-->
                    <div class="timestamp timeHidden">
                      <time aria-label="{{item.timestamp | date:'yyyy/MM/dd HH:mm:ss' | timeConversion}}"
                            datetime="{{item.timestamp}}">
                        {{item.timestamp | date:'yyyy/MM/dd HH:mm:ss' | timeConversion}}
                      </time>
                    </div>
                    <!--文字消息-->
                    <div class="markupMessage" (click)="publicClose()">
                      <!--附件消息-->
                      <app-chat-attachments *ngIf="item.attachments"
                                            [attachments]="item.attachments"></app-chat-attachments>
                      <!--文字消息-->
                      <span *ngIf="!item.attachments">{{item.content}}</span>
                    </div>
                    <!--反应表情-->
                    <div class="additive-emoji" [ngClass]="{'hidden-additive': !item.reaction }">
                      <div class="reaction-me" *ngFor="let i of item.reaction"
                           nzTooltipTitle="{{i.count}}人的反应为：{{i.emoji}}" nzTooltipPlacement="top" nz-tooltip
                           (click)="emojiClick(i.emoji, idx)">
                        <span class="reaction-inner">{{i.emoji}}</span>
                        <span class="reaction-count">{{i.count}}</span>
                      </div>
                    </div>
                    <!--添加反应-->
                    <div class="additive-reaction reactionHidden"
                         (click)="additiveReaction(idx)">
                      <!--表情-->
                      <span title="表情">
                        <svg class="aliicon" aria-hidden="true">
                          <use xlink:href="#icon-emojifill"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </ng-container>
                <!--系统消息-->
                <ng-container *ngSwitchCase="chatMessagesType.system">
                  <div class="system">
                    <div class="timestamp timeHidden">
                      <time aria-label="{{item.timestamp | date:'yyyy/MM/dd HH:mm:ss' | timeConversion}}"
                            datetime="{{item.timestamp}}">
                        {{item.timestamp | date:'yyyy/MM/dd HH:mm:ss' | timeConversion}}
                      </time>
                    </div>
                    <ng-container *ngIf="item.systemStates === 'userJoin'">
                      <span class="user-join">{{item.userName}}</span>
                      <span>进入频道</span>
                    </ng-container>
                    <ng-container *ngIf="item.systemStates === 'userLeft'">
                      <span class="user-join">{{item.userName}}</span>
                      <span>离开频道</span>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </li>
          </ol>
        </div>
      </div>
      <!--输入框-->
      <div class="channelTextArea">
        <div class="formArea">
          <!--附加-->
          <div class="additional">
            <!--表情-->
            <span class="icon" title="表情" (click)="morOperateChange('emoji')">
              <svg class="aliicon" aria-hidden="true">
                <use xlink:href="#icon-emojifill"></use>
              </svg>
            </span>
            <!--上传-->
            <span class="icon" title="上传" (click)="morOperateChange('fileUpload')">
              <svg class="aliicon" aria-hidden="true">
                <use xlink:href="#icon-jiahao2fill"></use>
              </svg>
            </span>
          </div>
          <!--文字-->
          <div class="textArea" (click)="publicClose()">
            <!--placeholder-->
            <div class="placeholder" aria-hidden="true" *ngIf="textValue === ''">开始聊天（Enter发送，Shift+Enter换行）
            </div>
            <!--输入框-->
            <!--<div #textBox role="textbox" class="markup" spellcheck="true" aria-haspopup="listbox" aria-invalid="false"
                 aria-autocomplete="list" contenteditable="true"
                 (keydown)="textBoxKeydown($event)"
                 (paste)="paste($event)"
                 (input)="textBoxChange($event)">
            </div>-->
            <nz-mention nzPlacement="top"
                        [nzSuggestions]="onlineUserList"
                        [nzValueWith]="suggestionsValueWith">
              <textarea #textBox class="markup"
                        nz-input
                        nzAutosize
                        nzMentionTrigger
                        (keydown)="textBoxKeydown($event)"
                        (paste)="paste($event)"
                        [(ngModel)]="textValue"
              ></textarea>
              <ng-container *nzMentionSuggestion="let framework">
                <span>{{ framework.userName }}</span>
              </ng-container>
            </nz-mention>
          </div>
          <!--发送按钮-->
          <div class="buttonArea">
            <button type="submit" nz-button nzType="primary" class="send-button" title="send" (click)="send()">
              <span nz-icon nzType="send" nzTheme="outline"></span>
            </button>
          </div>
        </div>
      </div>
      <!--表情选择-->
      <div class="emoji-select" [ngClass]="{'emoji-active': morOperate.emoji || morOperate.reactionEmoji}">
        <div class="emoji-content">
          <span class="emoji" *ngFor="let item of emojiList;index as idx" (click)="emojiClick(item)">
            {{item}}
          </span>
        </div>
      </div>
      <!--附件上传-->
      <div class="file-upload" [ngClass]="{'file-upload-active': morOperate.fileUpload}">
        <app-file-upload [requestService]="$chatRequestService"
                         [fileType]="[fileTypeEnum.image,fileTypeEnum.media,fileTypeEnum.text,fileTypeEnum.other]"
                         [fileName]="'file'"
                         (uploadCallback)="uploadCallback($event)"
        ></app-file-upload>
        <p class="info">限图片、音频文件</p>
      </div>
    </div>
  </div>
</div>

<!--设置频道组件-->
<ng-container *ngIf="morOperate.mySetting">
  <app-setting-channel [visible]="morOperate.mySetting"
                       [settingType]="'user'"
                       [user]="userInfo"
                       (visibleEvent)="hiddenSetting($event)"
  ></app-setting-channel>
</ng-container>

<!--用户信息弹框-->
<ng-template #popoverContentTemplate>
  <app-user-infobox [userId]="selectUserId"></app-user-infobox>
</ng-template>
