<div class="container">
  <!--左侧导航-->
  <div class="sidebar isHidden" [ngClass]="{'sidebar-collapsed':isCollapsed}">
    <!--用户列-->
    <ol class="scrollerInner" aria-label="用户" role="list" tabindex="0">
      <!--每一个在线用户-->
      <ng-container *ngIf="olineUserList.length > 0;else Offline">
        <li class="onlineUserList" aria-setsize="-1" *ngFor="let item of olineUserList;index as idx">
          <div class="user-item">
            {{item.userName}}
          </div>
        </li>
      </ng-container>
      <ng-template #Offline>
        <li class="onlineUserList" aria-setsize="-1">
          <div class="user-item">
            当前无人在线
          </div>
        </li>
      </ng-template>
    </ol>
  </div>
  <!--中间和右侧房间信息-->
  <div class="chat">
    <div class="content">
      <!--置顶-->
      <div class="top-info">
        <div class="info-txt">
          欢迎来到公共聊天频道！
        </div>
        <div class="operation-group">
          <span class="operation hidden-user-list" title="在线用户" nz-icon nzType="team" nzTheme="outline"
                (click)="hiddenOnlineUser()"></span>
          <span class="operation quit" title="退出" nz-icon nzType="poweroff" nzTheme="outline"
                (click)="quit()"></span>
        </div>
      </div>
      <!--主体框-->
      <div class="messagesWrapper">
        <div #scrollerBase class="scrollerBase">
          <!--消息列-->
          <ol class="scrollerInner" aria-label="消息" role="list" tabindex="0">
            <!--每一条消息-->
            <li class="messageListItem" aria-setsize="-1" *ngFor="let item of messagesList;index as idx">
              <ng-container [ngSwitch]="item.type">
                <!--一般消息-->
                <ng-container *ngSwitchCase="chatMessagesType.general">
                  <div class="message" role="article" tabindex="-1" aria-setsize="-1" aria-roledescription="消息"
                       aria-labelledby="message-username">
                    <div class="contents">
                      <!--头像-->
                      <img [src]="item.author.avatar" aria-hidden="true" class="avatar" alt="头像">
                      <!--消息头-->
                      <h3 class="header" aria-labelledby="message-username">
                    <span class="headerText">
                      <!--用户名-->
                      <span class="username" aria-expanded="false" role="button"
                            tabindex="0">{{item.author.username}}</span>
                      <span class="timestamp" role="button" tabindex="0">
                        <!--时间-->
                        <time aria-label="{{item.timestamp | date:'yyyy/MM/dd HH:mm:ss' | dateConversion}}"
                              datetime="{{item.timestamp}}">
                          {{item.timestamp | date:'yyyy/MM/dd HH:mm:ss' | dateConversion}}
                        </time>
                      </span>
                    </span>
                      </h3>
                      <!--文字消息-->
                      <div class="markupMessage">{{item.content}}</div>
                    </div>
                  </div>
                </ng-container>
                <!--连续发言-->
                <ng-container *ngSwitchCase="chatMessagesType.continuous">
                  <div class="message continuous">
                    <div class="timestamp timeHidden">
                      <time aria-label="{{item.timestamp | date:'yyyy/MM/dd HH:mm:ss' | timeConversion}}"
                            datetime="{{item.timestamp}}">
                        {{item.timestamp | date:'yyyy/MM/dd HH:mm:ss' | timeConversion}}
                      </time>
                    </div>
                    <!--文字消息-->
                    <div class="markupMessage">{{item.content}}</div>
                  </div>
                </ng-container>
                <!--系统消息-->
                <ng-container *ngSwitchCase="chatMessagesType.system">
                  <div class="system">
                    <div class="timestamp timeHidden">
                      <time aria-label="{{item.timestamp | date:'yyyy/MM/dd HH:mm:ss' | timeConversion}}"
                            datetime="{{item.timestamp}}">
                        {{item.timestamp | date:'yyyy/MM/dd HH:mm:ss' | timeConversion}}
                      </time>
                    </div>
                    <ng-container *ngIf="item.systemStates === 'userJoin'">
                      <span class="user-join">{{item.userName}}</span>
                      <span>进入频道</span>
                    </ng-container>
                    <ng-container *ngIf="item.systemStates === 'userlLeft'">
                      <span class="user-join">{{item.userName}}</span>
                      <span>离开频道</span>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </li>
          </ol>
        </div>
      </div>
      <!--输入框-->
      <div class="channelTextArea">
        <div class="formArea">
          <div class="textArea">
            <!--placeholder-->
            <div class="placeholder" aria-hidden="true" *ngIf="textValue === ''">开始聊天</div>
            <!--输入框-->
            <div #textBox role="textbox" class="markup" spellcheck="true" aria-haspopup="listbox" aria-invalid="false"
                 aria-autocomplete="list" contenteditable="true" (keydown)="textBoxKeydown($event)"
                 (input)="textBoxChange($event.target.innerHTML)">
            </div>
            <!--发送按钮-->
            <div class="buttonArea">
              <button type="submit" nz-button nzType="primary" class="send-button" title="send" (click)="send()">
                <span nz-icon nzType="send" nzTheme="outline"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
