<div class="resume-main">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <span class="navbar-brand js-scroll-trigger">
      <span class="d-block d-lg-none">evziyi.top</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/image/cat.jpg" alt="..."/>
      </span>
    </span>
    <button type="button" class="navbar-toggler" (click)="navbarToggler()">
      <span nz-icon nzType="bars" nzTheme="outline"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show-navbr':showNavbr}">
      <ul class="navbar-nav">
        <li class="nav-item" (click)="navItemChang(item.select)" *ngFor="let item of navItem;">
          <a class="nav-link js-scroll-trigger"
             [ngClass]="{'selectNav':selectNav === item.select}"
          >{{item.label}}</a>
        </li>
        <a class="nav-item" href="http://175.24.185.194:8090/" target="_blank">
          <span class="nav-link js-scroll-trigger">Halo博客</span>
        </a>
        <li class="nav-item d-lg-none d-lg-block" routerLink="../home">
          <a class="nav-link js-scroll-trigger">前往登录</a>
        </li>
      </ul>
    </div>
    <div class="to-login d-none d-lg-block" routerLink="../home">
      <span>前往登录</span>
      <svg class="aliicon login" aria-hidden="true">
        <use xlink:href="#icon-login"></use>
      </svg>
    </div>
  </nav>


  <div class="container-fluid p-0" #container>
    <!-- 关于-->
    <section class="resume-section" #aboutRef>
      <div class="resume-section-content">
        <h1 class="mb-0 name">
          <span>蒋</span>
<!--          <span class="name-primary">子翊</span>-->
        </h1>
        <div class="subheading mb-5">
          <p>
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-position"></use>
            </svg>
            湖北/武汉
          </p>
          <a href="mailto:jzy19981211@gmail.com">jzy19981211@gmail.com</a>
        </div>
        <p class="lead mb-5">99年有三年工作经验的前端开发，期望当技术经理 :)</p>
        <p class="lead mb-5 comment">平台前端使用Angular，后端使用Node，容器为Docker，Web服务为Nginx，个人博客为Halo</p>
        <div class="social-icons">
          <a class="social-icon" title="github" href="https://github.com/jiang227947" target="_blank">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-github"></use>
            </svg>
          </a>
          <a class="social-icon" title="CSDN" href="https://blog.csdn.net/weixin_43658453?type=blog" target="_blank">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-csdn"></use>
            </svg>
          </a>
          <a class="social-icon" title="Halo博客" href="http://175.24.185.194:8090/" target="_blank">
            <span class="halo">H</span>
          </a>
          <a class="social-icon" title="微信" nz-tooltip [nzTooltipTitle]="weixin">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-weixin"></use>
            </svg>
            <ng-template #weixin>
              <img class="wx_qr_code" src="assets/image/wx_qr_code.jpg">
            </ng-template>
          </a>
        </div>
      </div>
    </section>
    <hr class="m-0"/>
    <!-- 工作经历-->
    <section class="resume-section" #experienceRef>
      <div class="resume-section-content">
        <h2 class="mb-5">工作经历</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">前端开发</h3>
            <div class="subheading mb-3">纬创软件(武汉)有限公司</div>
            <p class="details">
              <span
                class="details-sp">A. 主要负责烽火通信科技股份有限公司的filink、fipole项目（IOT物联管理平台）的开发。</span>
              <span class="details-sp">B. 主要负责公司内部需求流程审批功能等公司内部平台的开发。</span>
              <span class="details-sp">C. 负责地图设计封装开发。</span>
              <span class="details-sp">D. filink、fipole项目主要部署在海外，例如菲律宾、巴西等，经过迭代已经有几个完整的版本产出。项目主要对接公司物联设备做物联管理平台，设备分为网关、单灯控制器、集中控制器、摄像头等十几种。</span>
              <span
                class="details-sp">E. 技术栈：Angular、TS、VUE、uni-app、Three.js、Ant-Design、Echarts、Qunee、Antv-X6、Mapbox瓦片地图等。</span>
            </p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">2021/5 - 至今</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">WEB前端开发</h3>
            <div class="subheading mb-3">艾欧创想智能科技(武汉)有限公司</div>
            <p class="details">
              <span class="details-sp">A. 负责智慧城市路灯控制器的智能管理平台（IOT智慧城市综合监管平台），基于低功耗无线物联网系统的智能路灯控制系统，主要分为路灯平台，广告屏平台，气象站平台，广播平台。路灯平台是主要平台，其余平台依附在该平台，目前十几个国内外城市使用，已经上线控制器设备十几万台。</span>
              <span class="details-sp">B. 和研发团队配合公司开发一些辅助硬件功能的项目。</span>
              <span class="details-sp">C. 技术栈：Angular、TS、Ant-Design、Echarts、Google地图等。</span>
            </p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">2019/9 - 2021/4</span></div>
        </div>
      </div>
    </section>
    <hr class="m-0"/>
    <!-- 教育经历-->
    <section class="resume-section" #educationRef>
      <div class="resume-section-content">
        <h2 class="mb-5">教育经历</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0 school">湖北生态工程职业技术学院</h3>
            <div class="subheading mb-3">计算机应用技术</div>
            <p></p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">2016 - 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
            <h3 class="mb-0 school">武汉工程大学</h3>
            <div class="subheading mb-3">邮电与信息工程学院</div>
            <p></p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">2023 - 2025</span></div>
        </div>
      </div>
    </section>
    <hr class="m-0"/>
    <!-- 掌握技能-->
    <section class="resume-section" #skillsRef>
      <div class="resume-section-content">
        <h2 class="mb-5">掌握技能</h2>
        <div class="subheading mb-3">编程语言和工具</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'HTML'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-HTML"></use>
            </svg>
          </li>
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'CSS'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-CSS"></use>
            </svg>
          </li>
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'JavaScript'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-JavaScript"></use>
            </svg>
          </li>
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'TypeScript'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-typescript1"></use>
            </svg>
          </li>
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'Angular'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-Angular"></use>
            </svg>
          </li>
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'Vue'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-Vue"></use>
            </svg>
          </li>
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'NodeJS'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-Nodejs"></use>
            </svg>
          </li>
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'SCSS'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-scss"></use>
            </svg>
          </li>
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'小程序'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-xiaochengxu"></use>
            </svg>
          </li>
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'NPM'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-npm"></use>
            </svg>
          </li>
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'Webstorm'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-webstorm1"></use>
            </svg>
          </li>
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'Nginx'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-nginx"></use>
            </svg>
          </li>
          <li class="list-inline-item" nz-tooltip [nzTooltipTitle]="'JAVA'">
            <svg class="aliicon" aria-hidden="true">
              <use xlink:href="#icon-java"></use>
            </svg>
          </li>
        </ul>
        <!--<div class="subheading mb-3">工作流</div>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Mobile-First, Responsive Design
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Cross Browser Testing & Debugging
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Cross Functional Teams
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Agile Development & Scrum
          </li>
        </ul>-->
      </div>
    </section>
    <hr class="m-0"/>
  </div>
</div>

<!--<canvas #canvas3d class="canvas3d"></canvas>-->
