@import "../../config/chat.scss";

.content {
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
  color: $--jjext-color-base2;
  /*隐藏滚动条*/
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 0 !important
  }

  .content-title {
    font-size: 1.2rem;
  }

  .content-p {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .update-btn {
    width: 200px;
    margin-top: 14px;
    background-color: $--additive-border;
    border-color: $--additive-border;
  }

  .cursor {
    cursor: pointer;
  }

  /*删除频道*/
  .delete {
    text-align: center;

    button {
      min-width: 150px;
    }
  }
}
