<nz-modal
  [nzVisible]="visible"
  [nzTitle]="nzTitle"
  [nzWidth]="440"
  [nzMask]="false"
  [nzContent]="modalContent"
  [nzFooter]="footerContent"
  (nzOnCancel)="onCancel()"
>
  <!--弹框中间-->
  <ng-template #modalContent>
    <div class="content">
      <!--频道设置-->
      <ng-container *ngIf="settingType === 'channel'">
        <p class="content-title">频道ID</p>
        <p class="content-p cursor" (click)="copy(channel.channelId)">
          <a nz-button nzType="link">{{channel.channelId}}</a>
          <span nz-icon nzType="copy" nzTheme="outline" class="copy"></span>
        </p>
        <p class="content-title">频道标签</p>
        <p class="content-p">
          <nz-tag *ngFor="let tag of channel.tags; let i = index">
            {{ sliceTagName(tag) }}
          </nz-tag>
        </p>
        <p class="content-title">频道密码</p>
        <p class="content-p" *ngIf="channel.isPrivacy">
          {{channel.password}}
        </p>
        <p class="content-p" *ngIf="!channel.isPrivacy">无</p>
        <p class="content-title">公告</p>
        <textarea maxlength="100" rows="4" nz-input class="content-p"
                  [ngModel]="channel.announcement"></textarea>
        <p class="content-title">备注</p>
        <p class="content-p">{{channel.remark}}</p>
        <!--删除频道-->
        <div class="delete" *ngIf="isDelete">
          <button nz-button nzType="primary" nzDanger (click)="deleteChannel()">删除频道</button>
        </div>
      </ng-container>
      <!--个人设置-->
      <ng-container *ngIf="settingType === 'user'">
      </ng-container>
    </div>
  </ng-template>
  <!--弹框底部-->
  <ng-template #footerContent>
  </ng-template>
</nz-modal>
