/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "app/shared-module/style/index";
/* 阿里icon*/
//@import "assets/icon/iconfont/iconfont.css";

body, form, h1, h2, h3, img, li, p, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  position: relative;
  height: 100%;
  max-height: 1440px;
  min-height: 600px;
  overflow: hidden;
}

/**列表页面最外层*/
.table-content {
  min-height: 100%;
  background-color: #ffffff;
  padding: 20px;
}

/**按钮的样式*/
.ant-btn {
  border-radius: 5px;
  //width: 70px;
}

.ant-btn-block {
  width: 100% !important;
}

/**搜索按钮的样式*/
.ant-input-search-button {
  border-radius: 5px;
}

/**选择对话模型*/
.send-ant-select-dropdown {
  min-width: 200px;
}

/** 阿里icon默认样式*/
.aliicon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/** 滚动条样式*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #bae7ff;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.27);
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #bfbfbf;
}
