.chrome {
  width: 100%;
  height: 500px;
}

.button-item {
  display: flex;
  justify-content: space-between;

  button {
    width: unset;
  }

  .operation {
    button {
      height: unset;
    }
  }
}
